#intro .btn.btn-default,
#pricing .btn.btn-default {
    background-color: transparent !important;
    border: solid 1px #cccccc;
    color: #cccccc !important;
}
#pricing .btn.btn-default {
    color: #7c7c7c !important;
}
#intro .btn.btn-default i {
    font-size: 2em;
}

.cbp-af-header.cbp-af-header-shrink img {
    height: 64px;
}
.screencast {
    padding: 20px;
    background-color: white;
}

#testimonials li {
    color: white;
}

#testimonials .carousel .carousel-control.right {
    right: 0px;
}

#testimonials .carousel .carousel-control.left {
    left: -60px;
}

.plan-notes {
    font-size: 0.9em;
}

.logos {
    text-align: center;
}

.logos img {
    max-height: 60px;

    margin-top: 30px;
    margin-right: 10px;
    background-color: white;

    opacity: 0.5;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: gray;
}

.logos a:hover img {
    opacity: 1;

    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: gray;
}