[Desktop Entry]
Name=Racti Subs
GenericName=Racti Subs
Comment=Project subtitles
Exec=subtivals %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/x-ssa;
Icon=subtivals
Categories=Video;AudioVideoEditing;
