Source: subtivals
Section: video
Priority: optional
Maintainer: Mathieu Leplatre <contact@mathieu-leplatre.info>
Build-Depends: debhelper (>> 3.0.0), libqt4-dev
Standards-Version: 3.9.2

Package: subtivals
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A program to project subtitles (*.ass, *.srt).
 Subtivals goals are the projection and the control of subtitles on a cinema screen; 
 for festivals that targets the hard of hearing.
